// @function porDiez($size) {
//   @return 10px * $size;
// }


// @function borderMaker($color) {
//   @return 1px solid $color;
// }


// @function getColor($color, $variant) {
//   $i: 1;
//   $colors: map-get($palett, $color);
//   $final: black;

//   @for $i from 1 to length($colors)+1 {
//     @if $i==$variant {
//       $final: nth($colors, $i);
//     }
//   }

//   @return $final;
// }

@font-face {
  font-family: opens;
  src: url("imgs/OpenSans-VariableFont_wdth,wght.ttf");
}


@function getMargin($key) {
  @return map-get($size-margin, $key);
}

@function getColor($key,$index) {
  @return nth(map-get($palett,""+$key),$index);
}

@function getGold($key) {
  @return map-get($gold, $key);
}

@function getSpace-blue($key) {
  @return map-get($space-blue, $key);
}


.meh {
  background-color: getColor("coral", 7);
  margin: getMargin("M");
}




