<div class="c-titulo">
  <h2 class="display-2">Datos Cliente</h2>
  <p class="lead">Estas viendo los datos de {{cliente.nombre}}</p>
</div>



<div class="l-contenedor">
  <div class="l-contenedor__izquierda">
    <img class="c-image" src="../../../assets/imgs/{{cliente.foto}}" alt="">
  </div>
  <div class="l-contenedor__derecha">
  <p><span class="dato">Nombre: </span><span>{{cliente.nombre}}</span></p>
<p><span class="dato">Cargo: </span><span>{{cliente.cargo}}</span></p>
<p><span class="dato">Descripción: </span><span>{{cliente.descripcion}}</span></p>

  </div>
</div>
