.post {
    padding-bottom: 12px;
}

.p-titulo {
    padding-right: 18px;
    margin-top: auto;
    margin-bottom: auto;
}

.botones {
    margin-top: auto;
    margin-bottom: auto;
}

.btun {
    margin-top: auto;
    margin-bottom: auto;
}

