
.az {
    background-color: rgb(71, 140, 230);
}

.ve {
    background-color: rgb(71, 230, 111);
}

.r {
    background-color: rgb(230, 95, 71);
}

.p {
    width: 200px;
    height: 200px;
    margin: 24px;
}

.g {
    width: 400px;
    height: 400px;
    margin: 24px;
}

.a {
    width: 10%;
    height: 10%;
}

.v {
    width: 10vw;
    height: 10vw;
}