.c-text {
    font-family: "paypal";
    margin-bottom: 24px;
    font-weight: 400;
    line-height: 1.6;
    color: #2c2e2f;
    font-size: 14px;


    &--legal {
        font-size: 12px;
        line-height: normal;
        margin-bottom: 4px;
    }


}