/* Muestre un cuadrado rojo de 200px de lado.
Que al poner el cursor encima se cambia su ancho para ocupar 600px
Que al quitar el curso vuelva a su tamaño original.
Que dure 3 segundos.
Crea un programa en JavaScript+HTML+CSS que el tamaño de un texto pase de los 12px 
iniciales a los 30px finales y que tarde 3 segundos. */

.c-cuadrado {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    background-color: coral;
    transition: transform 3s;
}

.c-cuadrado:hover {
    transform: scaleX(3);
}

.text {
    font-size: 12px;
}


.text-big {
    font-size: 30px;
    transition-delay: 3s;
}