.c-button {
    color: black;
    font-family: sans-serif;
    text-align: center;
    @include proporcion(8, 24);
    border-radius: 4px;

    &--primario {
        background-color: rgb(0, 72, 206);
        color: white;

        &--peligroso {
            background-color: rgb(221, 40, 55);
            color: white;

        }
    }

    &--secundario {
        background-color: white;
        border: borderMaker(rgb(48, 48, 48));


        &--peligroso {
            border: borderMaker(rgb(221, 40, 55));

        }


    }



}