

.c-button {
    display: inline-flex;
    color: getGold("1");
    border: 1px solid #444;
    border-radius: 6px;
    background-color: transparent;
    font-family: sans-serif;
    padding: 4px 10px;
    margin: 20px;

    &__icon {
        min-width: 36px;
        min-height: 36px;
        max-width: 36px;
        max-height: 36px;
        padding: 4px 4px;
    }

    &:hover {
        color: white;
        border-color: getGold("5");
        cursor: pointer;
    }

    &--tertiary {
        border: none;
        color: getGold("5");

        &:hover {
            text-decoration: underline;
            text-decoration-thickness: 2px;
            color: getGold("5");
            cursor: pointer;
            text-underline-position: under;
        }


    }

    &--big {
        padding: 4px 10px;
        align-items: center;
    }

    &--hidden {
        background-color: #444;
        color: getGold("1");
        padding: 4px 8px;
        border-radius: 3px;


        &:hover {
            color: getGold("5");
            background-color: black;
            border-color: transparent;
        }


    }

    &--seccondary {
        width: 100%;
        color: #0099cc;
        border-radius: 0;
        border: none;
        margin: 0;
        padding: 4px 8px;

        &:hover {
            color: #0099cc;
            background-color: rgba(150, 150, 150, 0.342);
            border-color: transparent;
        }

    }



}

body {
    background-color: black;
}