.c-text {
    font-family: opens;
    color: #aaa;
    margin-bottom: 22px;
    line-height: 130%;
    letter-spacing: 0.25px;


    &--highlight {
        color: #ddd;
    }

    &--alternative {
        color: #ca6;
    }

}