<h2 class="display-2 c-title">Editar el cliente con id {{idRuta}}</h2>


<form class="container-fluids" id="formulario" >

  <div class="nombre">
    <input  type="text" class="form-control camp" placeholder="Nombre" id="nombre" >
  </div>


  <div class="cargo">
    <input  type="text" class="form-control camp" placeholder="Cargo" id="cargo" >
  </div>

  <div class="descripcion">
    <input type="text" class="form-control camp" placeholder="Descripcion" id="descripcion" >
  </div>

  <div class="foto">
    <input  type="text" class="form-control camp" placeholder="foto" id="foto" >
  </div>




</form>


<div class="containers" id="btn">
  <button class="btn" (click)="actualizar()">
    <span>Actualizar</span>
  </button>
</div>
