.animated {
  animation-name: moving;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.monitor {
  height: 96vh;
  margin-top: 2vh;
  width: 99vw;
  right: 7px;
  min-width: 291.5px;
}

.turnoGrande {
  width: 34vh !important;
  height: 23vh !important;
  font-size: 17vh !important;
}

@keyframes moving {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

.shadow {
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 50%) !important;
}

.rounded {
  border-radius: 1rem !important;
}

.lista {
  height: 47.5vh;
  margin-bottom: 2vh;
  max-width: 75vw;
}

.tarjeta {
  height: 96vh;
  margin-top: 2vh;
  width: 57vw;
  right: 7px;
  min-width: 291.5px;
}

.tarjetas {
  display: block;
  margin-top: 2vh;
  width: 42vw;
  margin-bottom: 3vh;
  left: -27px;
  min-width: 212px;
}

.desaparecer {
  display: none !important;
}

.centrar {
  top: 26vh !important;
  right: 15vw !important;
  width: 45vh !important;
  height: 45vh !important;
  font-size: 22vh !important;
}

.centrarGrande {
  top: 18vh !important;
  right: 27vw !important;
  width: 60vh !important;
  height: 60vh !important;
  font-size: 31vh !important;
}

.centrarPosicion {
  top: 3vh !important;
  right: 10vw !important;
}

.centrarPequeño {
  width: 30vh !important;
  height: 30vh !important;
  font-size: 16vh !important;
}

.turnoMonitor {
  height: 16vh;
  width: 25vh;
  margin-top: 2vh;
  cursor: default;
  position: absolute;
  top: 7vh;
  right: 1vw;
  border-radius: 5rem !important;
  padding-bottom: 12px !important;
}

.turnoTarjeta {
  width: 13vh;
  height: 9vh;
  margin-top: 2vh;
  cursor: default;
  border-radius: 3rem !important;
  padding-bottom: 10px;
}

// .imagenMonitor {
//   height: 52vh;
//   max-width: 80%;
// }

// .imagenTarjetas {
//   height: 22vh;
//   max-width: 80%;
// }

.textoMonitor {
  font-size: 4vw;
  margin: 0px;
}

.textoTarjetas {
  font-size: 2.86vw;
  margin: 0px;
}

.textoCuerpo {
  font-size: 12vh;
}

.textoCuerpoTarjetas {
  font-size: 6vh;
}
